<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script async defer src="https://apis.google.com/js/api.js" ></script>
    <script async defer src="https://accounts.google.com/gsi/client" ></script>

    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfAFPKJ_uOSVVAfGRXlupYR80hq7Roz98&libraries=places&callback=initMap&v=weekly&language=it&region=IT&solution_channel=GMP_QB_addressselection_v1_cA"
      defer>
    </script>

    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title>UserProfile</title>
    </head>

    <body>

            <div>
                <p>Titolo evento:</p>

                <input id="titolo" type="text" size="30" maxlength="30" required>

            </div>

            <div>
                <p>Data:</p>

                <input id="data" type="datetime-local" required>

            </div>

            <div>
                <p>Luogo:</p>

                <input oninput="place()" id="luogo" type="text" size="30" maxlength="30" required>

            </div>

            <div>
                <p>Descrizione evento:</p>

                <textarea id="descrizione" cols="50" rows="10" required></textarea>

            </div>

            <button onclick="handleClick()">Aggiungi al calendario</button>  
    
    <script>

        var CLIENT_ID = "760521937389-p4kedmhgpbqoo0613uq2fnlv9j1do05t.apps.googleusercontent.com";
        var API_KEY = "AIzaSyDoYZUff4n5t-UHMtKnifrYnBYF49kz0Ww";
        var DISCOVERY_DOCS = ["https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest"];
        var SCOPES = "https://www.googleapis.com/auth/calendar.events";

        function place(){
            const autocompleteInput = document.getElementById("luogo");

            const autocomplete = new google.maps.places.Autocomplete(autocompleteInput);
        }
        
        
        function handleClick() {
                gapi.load('client:auth2', () => {
                console.log('loaded client')
        
                gapi.client.init({
                    apiKey: API_KEY,
                    clientId: CLIENT_ID,
                    discoveryDocs: DISCOVERY_DOCS,
                    scope: SCOPES,
                    plugin_name:'App Name that you used in google developer console API'
                });
        
                gapi.client.load('calendar', 'v3', () => console.log('bam!'))
                
                let title = document.getElementById("titolo").value
                console.log(title);
                let start = new Date( document.getElementById("data").value ).toISOString();
                console.log(start);
                let end = new Date(  new Date(start).getTime() + 1000*60*60 ).toISOString();
                console.log(end);
                let description = document.getElementById("descrizione").value;
                console.log(description);
                let location = document.getElementById("luogo").value;
                console.log(location);
        
                gapi.auth2.getAuthInstance().signIn().then(() => {
        
                    console.log('Sign in done');
        
                    var event = {
                    'summary': title,
                    'location': location,
                    'description': description,
                    'start': {
                        'dateTime': start,
                        'timeZone': 'UTC'
                    },
                    'end': {
                        'dateTime': end,
                        'timeZone': 'UTC'
                    },
                    'recurrence': [
                        'RRULE:FREQ=DAILY;COUNT=1'
                    ],
                    'reminders': {
                        'useDefault': false,
                        'overrides': [
                        {'method': 'email', 'minutes': 24 * 60},
                        {'method': 'popup', 'minutes': 10}
                        ]
                    }
                    }
        
                    var request = gapi.client.calendar.events.insert({
                        'calendarId': 'primary',
                        'resource': event,
                    })
        
                    request.execute(event => {
                        console.log(event)
                        window.open(event.htmlLink)
                    })
                    
        
                })
            })
        }
        
        
        </script>  
    
    </body>
</html>