<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="./js/checkAuth.js"></script>
    <script src="./js/signin.js"></script>

    <script src="./js/jquery-toast.js"></script>
    <link rel="stylesheet" href="./css/jquery-toast.css" />

    <link rel="stylesheet" href="./css/signin.css" />
  </head>
  <body>
    <!--==========Navbar==========-->
    <nav>
      <!--=====Logo=====-->
      <div class="logo">
        <a href="/">
          <img src="./img/finalHomeB.png" class="logo" height="120px" />
        </a>
      </div>
      <!--=====Btn Toggle Responsive=====-->
      <input type="checkbox" id="click" />
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <!--=====Schede=====-->
      <ul id="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="./appartamenti">Appartamenti</a></li>
        <li><a href="./libri">Libri</a></li>
        <li><a href="./corsi">Corsi</a></li>
        <!--=====Login Button=====-->
      </ul>
    </nav>
    <!--==========Fine Navbar==========-->

    <!--==========Login Section==========-->
    <div class="LoginContainer">
      <div class="container">
        <div class="greenBG">
          <div class="box signin">
            <h2>Hai già un account ?</h2>
            <button class="signinbtn">Accedi</button>
          </div>
          <div class="box signup">
            <h2>Non hai un account ?</h2>
            <button class="signupbtn">Registrati</button>
          </div>
        </div>
        <div class="formbx">
          <div class="form signinForm">
            <form id="signinf">
              <h3>Accedi</h3>
              <input
                type="text"
                id="signeduser"
                placeholder="Indirizzo Email"
                required
              />
              <input
                type="password"
                id="signedpass"
                placeholder="Password"
                required
              />
              <input type="submit" href="test" value="Accedi" />
            </form>
          </div>
          <div class="form signupForm" id="signupf">
            <form>
              <h3>Registrati</h3>
              <input type="text" id="user" placeholder="Username" required />
              <input
                type="text"
                id="email"
                placeholder="Indirizzo Email"
                required
              />
              <input
                type="password"
                id="password"
                placeholder="Password"
                required
              />
              <input
                type="password"
                id="confirmpassword"
                placeholder="Conferma Password"
                required
              />
              <input type="submit" id="RegBtn" value="Registrati" />
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer
      class="text-center text-white"
      style="background-color: rgb(49, 198, 24)"
    >
      <br />
      <p>© 2022 Copyright: <a class="text-white" href="#">StudentsHUB</a></p>
      <p style="font-size: 0.8em; font-weight: bold; padding-left: 10px">
        Made with ❤️ by Lorenzo, Roberto e Ersi
      </p>
      <br />
    </footer>
    <!-- Footer -->

    <script>
      const signinBtn = document.querySelector(".signinbtn");
      const signupBtn = document.querySelector(".signupbtn");
      const formBx = document.querySelector(".formbx");
      const background = document.querySelector(".LoginContainer");

      signupBtn.onclick = function () {
        formBx.classList.add("active");
        background.classList.add("active");
      };
      signinBtn.onclick = function () {
        formBx.classList.remove("active");
        background.classList.remove("active");
      };
    </script>
  </body>
</html>
