@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

/**=====Navbar Style=====*/
#header
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  height: 120px;
}

#navbar
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li
{
    list-style: none;
    padding: 0 20px;
    position: relative;

}
#navbar li a
{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active
{
    color: #328fa5;
}
#navbar li a.active::after,
#navbar li a:hover::after
{
    content: "";
    width: 30%;
    height: 2px;
    background: #23798e;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#navbar li:nth-child(2) a:hover
{
    color: rgb(223, 223, 70);
}
#navbar li:nth-child(3) a:hover
{
    color: #f54967;
}
#navbar li:nth-child(1) a:hover
{
    color: rgb(49, 198, 24);
}
#navbar li:nth-child(2) a:hover::after
{
    background: #F7DE3A;
}
#navbar li:nth-child(3) a:hover::after
{
    background: #d03852;
}
#navbar li:nth-child(1) a:hover::after
{
    background: forestgreen;
}

#loginButton,
#ContactButton,
.clickT
{
    color: #1a1a1a;
    border: 2px solid #328fa5;
    transition-duration: 0.4s;
}
#loginButton:hover,
#ContactButton:hover ,
.clickT:hover
{
    background-color: #328fa5;
}
/**fine Navbar**/

/**=====sticky navbar con filtri======**/
.container1
{
    width:200px;
    position: relative;
    margin-right: 10px;
}
.click
{
    border-radius: 5px;
    border: 0.5px solid #000 !important;
    text-align: left !important;
}
.click,.links
{
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    width:200px;
    color:#1a1a1a;
    transition: 0.3s;
}
.list,
.list1
{
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}
.newlist
{
    transform: scaleY(1);
}
.links
{
    background-color: #E3E6F3;
}
.links:hover
{
    background-color: #c2c4ce;
    transform: scale(1.1);
}
.fa
{
    padding-left: 60px;  
}
.fa2
{
    padding-left: 100px;
}
.fa3
{
    padding-left: 50px;
}
.fa4
{
    padding-left: 99px;
}
.clickT
{
    font-size: 16px;
    margin-left: 165px;
    overflow: hidden;
    white-space: nowrap;
}
