.tipo_prezzo{
  display: flex;
  flex-direction: column;
  margin: auto;
}
.tipologia {
  font-size: 1.2em;
}

.prezzo {
  font-size: 1.5em;
}

.fa-slash {
  position: absolute;
  margin-left: 2.5px;
  margin-top: 2.5px;
}

.info_appartamento {
  font-weight: bold;
  margin-left: 200px;
  text-transform: capitalize;
}