@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

/**=====Navbar Style=====**/
nav {
  display: flex;
  height: 120px;
  width: 100%;
  background: #e3e6f3;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li {
  margin: 0 5px;
  margin-top: 20px;
  position: relative;
}
nav ul li a {
  color: #1a1a1a;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  padding: 8px 15px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover {
  color: #328fa5;
}
nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
#click {
  display: none;
}
nav ul li a.active::after,
nav ul li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #23798e;
  position: absolute;
  bottom: 3px;
  left: 15px;
}
nav ul li:nth-child(2) a:hover {
  color: #f7de3a;
}
nav ul li:nth-child(3) a:hover {
  color: #f54967;
}
nav ul li:nth-child(1) a:hover {
  color: rgb(49, 198, 24);
}
nav ul li:nth-child(2) a:hover::after {
  background: #f7de3a;
}
nav ul li:nth-child(3) a:hover::after {
  background: #d03852;
}
nav ul li:nth-child(1) a:hover::after {
  background: forestgreen;
}
#loginButton,
#UserButton,
.resetbtn,
.submitbtn,
.guidebtn {
  margin-top: 5px;
  color: #1a1a1a;
  border: 2px solid #23798e;
  transition-duration: 0.4s;
}
#loginButton:hover,
#UserButton:hover,
.resetbtn:hover,
.submitbtn:hover,
.guidebtn:hover {
  background-color: #328fa5;
}
#UserButton {
  border-radius: 100px;
}
/**=====Fine Navbar Style=====**/

/**=====GoBack=====**/
.navbar {
  position: sticky;
  background-color: #fff;
  height: auto;
  z-index: 1;
}
.navbar a {
  font-size: 20px;
  margin-left: 2%;
  border: none;
  color: #000;
  text-decoration: none;
}
.navbar a:before {
  content: "\f177";
  font-weight: 900;
  font-family: "FontAwesome";
}
.navbar a:hover {
  color: #23798e;
}
/**=====Fine GoBack section=====**/

/**=====Form Section=====**/
.TutorForm {
  display: grid;
  grid-template-columns: 40% 60%;
  padding-left: 10%;
  padding-right: 8%;
  margin-top: 5%;
}
.card {
  position: sticky;
  top: 100px;
  width: 350px;
  height: 450px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 10px #328fa5;
  transition: 0.5s;
}
.imgBx {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 100px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  transition: 0.5s;
}
.imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
.card .content .details {
  padding: 53px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
}
.card .content .details h2 {
  display: inline;
  font-size: 1.2em;
  font-weight: 600;
  color: #23798e;
  line-height: 1.2em;
}
.card .content .details h2 span {
  font-size: 0.75em;
  font-weight: 500;
  opacity: 0.5;
}
#titolo {
  font-weight: bold;
  padding-top: 3%;
}
.card .content .details .actionbtn .btn {
  display: inline-block;
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
}
.card .content .details .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 15px;
  border-top: 3px solid #328fa5;
}
.card .content .details .icons span {
  font-size: 14px;
  color: #328fa5;
}
.erogazione{
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 5%;
}
.homeicon {
  display: none;
}
.showhome {
  display: inline;
  position: static;
  margin-right: 10%;
  margin-left: 2%;
}
.awayicon {
  display: none;
}
.showaway {
  margin-left: -65%;
  display: inline;
}
#prezzo::before {
  content: "\f153";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  color: #328fa5;
  padding-right: 2px;
}
#prezzo::after {
  content: "/h";
}

.FormBox {
  background: #fff;
  padding: 4% 4%;
  border-radius: 10px;
  box-shadow: 0 5px 10px #328fa5;
}
.FormBox .title {
  font-size: 3vw;
}
.FormBox .title::after {
  content: "";
  display: block;
  width: 30%;
  border-bottom: 2px solid #23798e;
}
form {
  margin-top: 2%;
}
fieldset,
legend {
  all: revert;
}
fieldset {
  border: 2px solid #23798e;
  font-size: 1vw;
  margin-bottom: 3%;
}
legend {
  font-weight: 500;
  font-size: 2vw;
  padding-left: 1%;
  padding-right: 1%;
}
.Language,
.PersonalInfo,
.level {
  margin-top: 1%;
  display: grid;
  grid-template-columns: 40% 50%;
  grid-template-rows: 50% 50%;
}
.Language {
  gap: 5%;
  grid-template-rows: 30% 50%;
}
.level {
  grid-template-rows: 30% 50%;
  column-gap: 5%;
}
#levelselector {
  height: 82%;
}
.subjectdiv,
.regionediv {
  width: 80%;
  padding-bottom: 5%;
}
.SubCardForm {
  display: grid;
  grid-template-columns: 50% 40%;
  grid-template-rows: 30% 40%;
  column-gap: 5%;
  margin-bottom: -2%;
}
.SubCardForm select {
  margin-top: 1%;
}
.PersonalInfo input {
  width: 70%;
}
.MInfo {
  display: grid;
  grid-template-columns: 5% 10% 5% 5%;
  margin-bottom: 1%;
}
.Minfo fa {
  margin-bottom: 65%;
  padding-bottom: 5%;
  position: relative;
}
.CardInfoC {
  display: grid;
  grid-template-columns: 40% 50%;
  grid-template-rows: 50% 50%;
}
.CardInfoC input[type="text"] {
  width: 80%;
}
.CardInfoC input[type="number"] {
  width: 40%;
}
.inputdescription-box {
  display: grid;
  grid-template-columns: 100%;
}
.resetbtn {
  margin-left: 2%;
}
#home,
#away {
  margin-top: 1%;
}
.guidebtn {
  border-radius: 50px;
  margin-top: -25%;
  margin-left: 92%;
}
/**=====Fine form=====**/

/**=====FAQ=====**/
#FAQsection {
  min-height: 80vh;
  width: 60%;
  margin: 10% auto;
  padding-bottom: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.title {
  font-size: 3rem;
  margin: 1rem 0rem;
}
.faq {
  width: 100%;
  margin-top: 2rem;
  padding-bottom: 2px;
  border-bottom: 2px solid #328fa5 !important;
  cursor: pointer;
}
.accordion {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  outline: none;
  transition: 0.4s;
}
.accordion:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0d7";
}
.accordion h3 {
  font-size: 1.8rem;
}
.active,
.accordion:hover {
  border: none;
  outline: none;
}
.panel {
  padding: 0 18px 10px;
  font-size: 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.panel p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
}
/**=====Fine sezione FAQ=====**/

#cartella-esistente{
  display: none;
  position: fixed;
  top: 4%;
  left: 35%;
  background: rgb(252, 230, 230);
  z-index: 1;
  width: 400px;
  border-radius: 5px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}
#cartella-esistente button:hover{
  background-color: #968e8e;
}
#cartella-esistente p{
  margin-top: 5%;
}
#cartella-esistente button{
  margin-bottom: 5%;
}
#crea-cartella{
  display: none;
  position: fixed;
  top: 4%;
  left: 35%;
  background: rgb(252, 230, 230);
  z-index: 1;
  width: 400px;
  border-radius: 5px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
#crea-cartella p{
  margin-top: 5%;
}
#crea-cartella button{
  margin-bottom: 5%;
}
#crea-cartella button:hover{
  background-color: #968e8e;
}
.signin, .signout{
  border: 0px;
  padding: 2%;
  width: 30%;
  background-color: rgb(0, 119, 255);
  font-size: 20px;
  color: white;
  outline: none;
  cursor: pointer;
  display: none;
  margin-top: 2%;
  border-radius: 10px;
}
.signin{
  margin-bottom: 3%;
}
#cerca-cartella{
  padding-top: 1%;
  font-size: 15px;
  margin-bottom: 3%;
  white-space: nowrap
}
#cerca-cartella button:hover{
  background-color: #968e8e;
} 
#findfolder{
  border:10%;
  padding-left: 1%;
  padding-right: 1%;
}
.DriveFolder{
  margin-top: 3%;
}
#nomeCartella{
  margin-top: 1%;
}
#changeF{
  margin-left: 1%;
  border: 0px;
  color: rgb(192, 21, 21);
  background-color: transparent;
}


/**=====Footer=====**/
footer{
  padding-bottom: -10%;
}

/**=====Responsive Style=====**/
@media (max-width: 1150px) {
  .TutorForm {
    grid-template-columns: 100%;
    padding-left: 10%;
    padding-right: 8%;
    margin-top: 1%;
  }
  .card {
    width: 100%;
    position: relative;
    margin-bottom: 20%;
  }
  .FormContainer {
    margin-top: 10%;
  }
  .guidebtn {
    margin-top: -14%;
    margin-left: 95%;
  }
  .footer-copyright {
    margin-top: -5%;
  }
}
@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}

@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
    color: #1a1a1a;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    z-index: 2;
    position: absolute;
    top: 100px;
    left: -100%;
    background: #e3e6f3;
    height: 70vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  nav ul li a.active::after,
  nav ul li a:hover::after {
    display: none;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -90%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav ul li a.active {
    background: none;
    color: rgb(49, 198, 24);
  }
  nav ul li:nth-child(2) a:hover {
    color: #f7de3a;
  }
  nav ul li:nth-child(3) a:hover {
    color: #f54967;
  }
  nav ul li:nth-child(4) a:hover {
    color: #328fa5;
  }
  #carousel {
    z-index: 1;
  }
  #S1 {
    border-bottom: 3px solid #f7de3a;
  }
  #S2 {
    border-bottom: 3px solid #d03852;
  }
  #S3 {
    border-bottom: 3px solid #23798e;
  }
  .carousel-caption p {
    font-size: 14px;
  }
  #CarouselButton1,
  #CarouselButton2,
  #CarouselButton3 {
    font-size: 14px;
  }
  .guidebtn {
    margin-left: 90%;
  }
}

@media (max-width: 700px) {
  .guidebtn {
    margin-left: 87%;
  }
}

@media (max-width: 500px) {
  nav {
    padding: 0 40px 0 10px;
  }
  .carousel-caption #caption {
    font-size: 10px;
  }
  #CarouselButton1,
  #CarouselButton2,
  #CarouselButton3 {
    font-size: 10px;
  }
  #S1 {
    border-bottom: 1px solid #f7de3a;
  }
  #S2 {
    border-bottom: 1px solid #d03852;
  }
  #S3 {
    border-bottom: 1px solid #23798e;
  }
  .card {
    width: 100%;
    position: relative;
    margin-bottom: 30%;
  }
  .FormContainer {
    margin-top: 20%;
  }
  .guidebtn {
    margin-left: 85%;
  }
}

@media (max-width: 400px) {
  .guidebtn {
    margin-top: -20%;
    margin-left: 80%;
  }
}
@media (max-width: 315px) {
  nav {
    padding: 0 60px 0 10px;
  }
}
/**=====Fine responsive Navbar=====**/
